/*======================================================
                    RESET GENERAL
======================================================*/
/* Fuente utilizada en el sitio */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
/* Reinicio de márgenes, rellenos y modelo de caja */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*======================================================
                    BARRA DE NAVEGACIÓN
======================================================*/
/* Contenedor principal de la barra */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #E30E1E;
      font-size: 24px;
      font-family: 'Anton', sans-serif;
      padding: 0px 25px;
    }
/* Enlaces del menú */
    .navbar a {
      text-decoration: none;
      color: white !important;
      padding: 10px 15px 3px; 
      margin-right: 38px;
      transition: color 0.3s;
      position: relative; 
      display: inline-block;
    }
/* Mantiene el color al pasar el cursor */
    .navbar a:hover {
      color: white !important;
    }

/* Línea animada debajo de cada enlace */
    .navbar a::after {
      content: '';
      position: absolute;
      left: 9px; /* Ajuste para que la línea empiece donde termina el padding izquierdo */
      right: 9px; /* Ajuste para que la línea termine donde empieza el padding derecho */
      bottom: 0;
      height: 6px;
      background-color: white;
      transform: scaleX(0); 
      transform-origin: left; /* Animación desde la izquierda */
      transition: transform 0.3s ease;
    }
    
/* Animación de la línea */
    .navbar a:hover::after {
      transform: scaleX(1); /* La línea crece hasta su ancho completo */
    }
/* Evita interacción sobre el logo */
    .navbar .navbar-brand img {
      pointer-events: none;
    }

/* Línea amarilla debajo del navbar */   
    .linea {
      width: 100%;        /* largo */
      height: 18px;        /* grosor */
      background: #FCDA00;  /* color */
    }
/* Botón del menú responsive */
    .navbar-toggler {
      margin-top: -90px;
    }

/* Contenedor del logo */
    .logo-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
/* Imagen del logo */
    .navbar .logo-container img {
      max-width: 100px;
      height: auto;
    }

/*======================================================
            LOGO EN ESCRITORIO
======================================================*/
    @media (min-width: 992px) {
      .logo-container {
        justify-content: flex-start;
        padding-left: 15px;
      }
    }

/*======================================================
              AJUSTE DEL MENÚ EN CELULARES
======================================================*/
    @media (max-width:576px ){
      .navbar a::after{
        left: 0;
        width: 300px;   /* largo fijo */
        right: auto;
      }
    }



/*======================================================
                        FOOTER
======================================================*/
/* Contenedor principal */
.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
/* Contenedor interno */
.footer.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Logo */
.footer-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}
/* Imagen del logo */
.footer-img {
  width: 150px;
  height: 150px;
}
/* Texto descriptivo */
.footer-text {
  flex: 2;
  font-size: 16px;
  line-height: 1.6;
  
}
/* Párrafo del footer */
.footer-text p {
  font-size: 18px;
  margin: 0px 0;
  line-height: 1.6;
  padding-bottom: 30px;
}
/* Contenedor de redes sociales */
.social-icons {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
}
/* Iconos */
.social-icons img {
  width: 40px;
  height: 40px;
  padding: 0; /* Asegúrate de que no haya padding adicional */
  filter: grayscale(100%);
}
/* Efecto hover */
.social-icons img:hover{
  filter: sepia(100%);
}
/* Texto de derechos */
.footer-copy {
  font-size: 14px;
  padding-bottom: 20px;
  margin-top: 0px;
}

/*======================================================
                RESPONSIVE TABLET
                (Hasta 1024px)
======================================================*/
@media (max-width:1024px){

  html, body {
    width:100%;
    overflow-x:hidden;
  }
  .imagen-sucursal{
    width:100% !important;
  }
 /* Footer en columna */
  .footer .row{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  .container{
    width:100%;
    height:89%;
  }
  .footer-logo{
    width:100%;
    display:flex;
    justify-content:center;
  }
  .footer-copy{
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    height:10%;
    padding:0;
  }
/* Sección ubicación */
  .ubicacion-layout{
    flex-direction:column;
  }
  iframe{
    display:block;
    max-width:100%;
    height:auto;
    aspect-ratio:16 / 9;
    border:0;
  }

}

/*======================================================
                RESPONSIVE CELULARES
                (Hasta 570px)
======================================================*/
/* Celulares */
@media (max-width:570px){

    /* Footer */
    .footer .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
    }
    /* Logo */
    .footer-logo{
        display:flex;
        justify-content:center;
        margin-bottom:20px;
    }

    .footer-img{
        width:120px;
        height:auto;
    }

    /* Texto */
    .footer-text{
        padding:0 0px;
        margin-bottom:0px;
    }

    .footer-text p{
        font-size:18px;
        line-height:1.5;
        margin:0;
    }

/* ===== REDES SOCIALES ===== */

/* Contenedor de los iconos de redes sociales */
    .footer .col:last-child{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:15px;
        margin-top:20px;
    }

/* Organización de las filas de redes sociales */
    .footer .col:last-child > .row{
        width:auto !important;
        height:auto !important;
        margin:0 !important;
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }
/* Texto de derechos de autor */
    .footer-copy{
        margin-top:20px;
        text-align:center;
        font-size:14px;
        padding:0 10px;
    }
  .footer .col.social-icons{
    margin-top: 0 !important;
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  }

/* Espaciado de los iconos */
/* Facebook */
  .footer .social-icons img[alt="Facebook"]{
      margin-right: 10px;   /* aumenta o disminuye */
  }
  /* Twitter */
  .footer .social-icons img[alt="Twitter"]{
      margin-left: 10px;
  }
  /* Instagram */
  .footer .social-icons img[alt="Instagram"]{
      margin-right: 10px;
  }
  /* LinkedIn */
  .footer .social-icons img[alt="LinkedIn"]{
      margin-left: 10px;
  }
  }

/*======================================================
                SECCIÓN NUESTRA SUCURSAL
======================================================*/
/* Contenedor principal */
.sucursal-container {
  text-align: center;
  padding: 10px 0;
  font-family: 'Anton', sans-serif;
}
/* Título de la sección */
.cartel-sucursal {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 50px;
  color: #000;
  font-family: 'Anton', sans-serif;
  border-radius: 0;
  margin: 55px 0;
}
/* Imagen principal de la sucursal */
.imagen-sucursal {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  border-radius: 35px;
  padding: 20px;
  
}
/*======================================================
                    SECCIÓN UBICACIÓN
======================================================*/
/* Contenedor principal */
.ubicacion-container {
  background-color: #CACACA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
/* Distribución del contenido */
.ubicacion-layout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px; /* Ajusta el tamaño máximo del contenedor */
  gap: 20px;
  flex-direction: column;
}
/* Título */
.ubicacion-title {
  font-size: 50px;
  color: #000000;
  font-family: 'Anton', sans-serif;
  margin: 0;
  flex: 0 0 auto; /* Evita que el título se redimensione */
  text-align: left;
  flex-direction: column;
}
/* Mapa */
.ubicacion-map iframe {
  width: 672px;
  height: 300px;
  border-radius: 15px;
}
/* Dirección */
.ubicacion-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
/* Ícono de ubicación */
.ubicacion-icon {
  width: 50px;
  height: 50px;
}
/* Texto de la dirección */
.ubicacion-text {
  font-size: 27px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}
/*======================================================
            SECCIÓN SALAS DE ENTRENAMIENTO
======================================================*/
/* Título */
.cartel-salas {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: #000;
    font-family: 'Anton', sans-serif;
    border-radius: 0;
    margin-bottom: 55px;
}
/* Contenedor de cada sala */
.sala {
  position: relative;
  margin-bottom: 0;
}
/* Imagen de la sala */
.imagen-sala {
    width: 100%;           /* que ocupe todo el ancho disponible */
    height: auto;          /* que ajuste la altura según la imagen */
    border-radius: 0;
    display: block;        /* evita comportamientos extraños de flex */
    object-fit: cover;     /* recorta si es necesario para llenar el contenedor */
}
/* Cartel superpuesto */
.cartel-superpuesto {
    position: absolute;
    bottom: 10px;   /* Separación de la parte inferior */
    right: 10px;    /* Separación del lado derecho */
    background-color: black;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 5px 0 0 0; /* Redondeo solo en la esquina superior izquierda */
}
/* Texto debajo de la imagen */
.sala p {
    font-size: 18px;
    color: #000;
    font-family: 'Anton', sans-serif;
    margin-top: 5px;
}
/*======================================================
                FORMULARIO DE CONTACTO
======================================================*/
.formulario-container {
  width:100%;
  max-width: 2000px;
  height: 100%;
  margin: 0px;
  padding: 100px 200px 100px 200px;
  background-color: #CACACA;
  text-align: center;
  font-family: 'Anton', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Contenedor principal del formulario */
.formulario-titulo {
  font-size: 36px;
  margin-bottom: 40px;
}
/* Título del formulario */
.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/* Agrupación de los campos */
.formulario-grupo {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
/* Campos de entrada y área de mensaje */
.formulario-grupo input,
.formulario-grupo-mensaje textarea {
  width: 100%;
  padding: 18px;
  border: 1px solid #2c2b2b;
  border-radius: 6px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  resize: none;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Área de mensaje */
textarea {
  height: 150px;
}
/* Botón de envío */
.formulario-boton {
  display: block;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 20px;
  background-color: #3B3B40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Efecto al pasar el cursor sobre el botón */
.formulario-boton:hover {
  background-color: #b30000;
}
/*======================================================
            RESPONSIVE DEL FORMULARIO
                (Hasta 768px)
======================================================*/
@media (max-width: 768px) {
/* Los campos pasan a mostrarse uno debajo del otro */
  .formulario-grupo {
    flex-direction: column;
  }
/* Ajuste del contenedor */
  .formulario-container {
    max-width: 100%;
    padding: 20px;
  }
/* Reducción del tamaño del título */
  .formulario-titulo {
    font-size: 28px;
  }
/* El botón ocupa todo el ancho */
  .formulario-boton {
    width: 100%;
  }
}